.my-orders {
  margin: 50px 0px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 30px;
}

.my-orders .container {
  padding: 20px;
  margin-top: 30px;
  display: grid;
  grid-gap: 16px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  border: 1px solid crimson;
  padding: 10px 20px;
  color: #454545;
  margin-bottom: 20px;
  transition: 0.2 ease-in;
}

.my-orders-order:hover {
  transform: translateY(-3px);
}

.my-orders-order img {
  width: 50px;
}
.my-orders-order p {
  margin: 0;
  padding: 0;
}
.my-orders-order p b {
  font-weight: 500;
  color: #454545;
}
.my-orders-order .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-orders-order button {
  background-color: #ffe1e1;
  color: #454545;
  margin-left: 50px;
  border: none;
  border-radius: 4px;
  padding: 12px 10px;
  cursor: pointer;
}

.my-orders-order button:hover {
  background-color: crimson;
  color: white;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .my-orders-order {
    padding: 15px;
  }

  .my-orders h2 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }

  .my-orders h2 {
    font-size: 20px;
  }
}
